#panel-elements{
    height: 100%;
    background: #434343;
    width: 25%;
    position: absolute;
}

#panel-elements .elements-container {

    margin-top: 25%;
    margin-left: 25%;
}

.elements-container li {
    list-style: none;
}